.image {
  width:210px;
  height:140px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.authoravatar {
  width:35px;
  height:33px;
  border-radius: 50%;
}
.writtenby {
  color: grey
}
div.posts-grid{
  margin-top: 10px;
  margin-bottom: 10px;
}
div.general-grid {
  /*border-top: 1px solid rgb(202, 202, 202);*/
  border-bottom: 1px solid rgb(202, 202, 202);
  align-items: center;
}
.votes {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }